$theme-default-background-color: "beige" ;
$theme-default-panelbackground-color: "beige" ;
$theme-default-text-color: "grey-1" ;

@import '../helpers/color';

$root-text-color: template_component("text");
$root-print-text-color: template-component("text");
