<div id="cookie_banner" class="clever-width-container">
  <div class="clever-phase-banner">
    <p class="clever-phase-banner__content">
      CandiateBay uses cookies to make the site easier to use and for our servers to identify your session.
      Read <a href="/cookies">more about cookies</a>
    </p>
  </div>
</div>
